*{
	padding:0;
	margin:0;
	border-sizing:border-box;
}
body{
	display:flex;
	justify-content:center;
	align-items:center;
    background:linear-gradient(45deg,#4E65FF,#92EFFD);
}
.contentButton{
	position:relative;
	width:100px;
	height:100px;
	background:white;
	display:flex;
	justify-content:center;
	align-items:center;
	overflow:hidden;
	box-shadow:5px 5px 19px #242424;
}
.searchButton{
	position:absolute;
	width:40px;
	height:40px;
	transform:translate(-50%,-50%);
	left:50%;
	top:50%;
	z-index:2;
	background:white;
	padding:20;
}
.cancelButton{
	position:absolute;
	width:40px;
	height:40px;
	z-index:-1;
	background:white;
	padding:20;
}
.textButton{
	position:absolute;
	left:16%;
	height:100%;
	outline:none;
	border:1px solid white;
	font-size:1.8em;
	z-index:-1;
}